_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
Readme_draft.md
dev
assets/env/bin
assets/env/include
assets/env/lib
assets/env/man
assets/env/share
assets/env/src/__pycache__
pyvenv.cfg
*.zip