<p>MOREL generates web sites from bibliographic collections. The MOREL sites gather book covers, excerpts, bibliographic clues, metadata and digital downloads from items stored in the Zotero reference manager.</p>

<!-- more -->

<p>Works are organized by dynamic lists, which automatically group the works according to common characteristics:</p>

<ul>
  <li><a href="{{ site.BASE_PATH }}/criteria/author">authors</a></li>
  <li><a href="{{ site.BASE_PATH }}/chriteria/city">city of publication</a></li>
  <li><a href="{{ site.BASE_PATH }}/chriteria/publisher">imprint or publisher</a></li>
  <li><a href="{{ site.BASE_PATH }}/chriteria/nationality">nationality of authors</a></li>
  <li><a href="{{ site.BASE_PATH }}/chriteria/edition">edition date</a></li>
  <li><a href="{{ site.BASE_PATH }}/criteria/repository">digital repository</a>.</li>
</ul>

<p>MOREL also has a <a href="/search">search engine</a> that allows you to find works directly.</p>
